:root {
    --color-primary: rgb(232, 0, 151);
    --color-white: #ededed;
    --color-hover: rgb(119, 24, 86);
    --color-neon-blue: rgba(0, 220, 238, 0.8);
    --color-neon-pink: rgba(232, 0, 151, 0.8);
  }
  
  .admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    border-bottom: 1px solid #333;
    position: relative;
    z-index: 1000;
  }
  
  .admin-logo {
    font-size: 1.5rem;
  }
  
  .admin-link a {
    transition: 0.3s ease;
  }
  
  .admin-link a:hover {
    color: var(--color-primary);
  }
  
  .admin-nav {
    display: flex;
    align-items: center;
  }
  
  .admin-logout-btn {
    padding: 0.5rem 1.1rem;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    color: var(--color-primary);
    transition: 0.3s ease;
    font-weight: 400;
    background: transparent;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .admin-logout-btn:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
  }

  .hamburger-icon {
    display: none;
  }
  
  /* Mobile Styles */
  @media (max-width: 768px) {
    .admin-header {
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem;
    }
  
    .admin-logo {
      font-size: 1.3rem;
      text-align: center;
    }
  
    .admin-nav {
      display: none; /* Hide nav by default */
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #333;
      flex-direction: column;
      text-align: center;
      padding: 1rem;
    }
  
    .admin-nav.open {
      display: flex; /* Show nav when menu is open */
    }
  
    .admin-nav ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  
    .admin-link a {
      font-size: 1.1rem;
      color: var(--color-white);
    }
  
    .admin-logout-btn {
      margin-top: 1rem;
      width: 100%;
    }
  
    /* Hamburger menu icon */
    .hamburger-icon {
      font-size: 1.5rem;
      cursor: pointer;
      color: var(--color-primary);
      display: block;
    }
  }
  