:root {
  --color-primary: rgb(232, 0, 151);
  --color-white: #ededed;
  --color-hover: rgb(119, 24, 86);
  --color-neon-pink: rgba(232, 0, 151, 0.8);
  --color-neon-green: rgba(57, 255, 20, 0.8);
}

#programming-tech-hero {
  width: 90%;
  height: 300px;
  margin: auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 100;
  position: relative;
  margin-top: 40px;
  overflow: hidden;
  background-image: url("../../assets/noise.svg");
  background-blend-mode: multiply, overlay;
  background-size: cover;
  filter: contrast(1) brightness(1);
}

#programming-tech-hero::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  height: 500px;
  width: 500px;
  background: radial-gradient(
    circle,
    var(--color-neon-green),
    rgba(0, 0, 0, 0) 70%
  );
  filter: blur(10px);
  z-index: -1;
  animation: moveBefore 10s ease-in-out infinite;
}

#programming-tech-hero::after {
  content: "";
  position: absolute;
  bottom: -200px;
  right: -150px;
  height: 500px;
  width: 500px;
  background: radial-gradient(
    circle,
    var(--color-neon-pink),
    rgba(0, 0, 0, 0) 70%
  );
  filter: blur(10px);
  z-index: -1;
  animation: moveAfter 10s ease-in-out infinite;
}

.programming-tech-main-header {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: center;
}

.programming-tech-main-header p {
  font-size: 1.4rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  #programming-tech-hero {
    height: 250px; 
  }

  .programming-tech-main-header h1 {
    font-size: 2rem;
  }

  .programming-tech-main-header p {
    font-size: 1.2rem; 
    padding: 0 1rem; 
  }
}

@media (max-width: 480px) {
  #programming-tech-hero {
    height: 200px; 
  }

  .programming-tech-main-header h1 {
    font-size: 1.8rem; 
  }

  .programming-tech-main-header p {
    font-size: 1rem; 
  }
}
