:root {
  --color-primary: rgb(232, 0, 151);
  --color-white: #ededed;
  --color-hover: rgb(119, 24, 86);
  --color-neon-blue: rgba(0, 220, 238, 0.8);
  --color-neon-pink: rgba(232, 0, 151, 0.8);
}

.sidebar-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 250px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: var(--color-white);
  position: relative; 
  background-image: url(../../assets/noise.svg);
  position: fixed;
  top: 120px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: color 0.3s, background 0.3s;
  position: relative;
  z-index: 1; 
}

.sidebar li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.sidebar li::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, var(--color-neon-pink), transparent);
  filter: blur(20px);
  transition: opacity 0.3s ease;
  opacity: 0;
  z-index: -1;
}

.sidebar li:hover::before {
  opacity: 1; 
}

.sidebar li.selected {
  background-color: rgba(255, 255, 255, 0.3);
}

.sidebar li.selected::before {
  opacity: 1;
}
